<div class="col-md-8 col-md-offset-2">
  <div class="col-xs-6 col-md-4">
    <h1>ABOUT</h1>
  </div>
  <div class="col-xs-12 col-md-8">
    <li class="about-image"></li>
    <li class="about-text"></li>
    <li class="about-text"></li>
    <li class="about-image"></li>
  </div>
</div>
