<div class="col-md-8 col-md-offset-2">
    <!-- <li class="about-header">
      <h1>ABOUT</h1>
    </li> -->
    <li class="about-image" id="soma"></li>
    <li class="about-text">
      <h4>Effectiveness climate change fairness non-partisan free-speech policy
      social challenges Nelson Mandela change-makers global citizens Aga Khan.
      Fight against malnutrition women's rights, citizenry; change working
      families social movement John Lennon. Future recognize potential;
      meaningful, indicator human-centered design youth economic independence
      reduce carbon emissions.<br /><span class="read-more-content"> Pursue these
      aspirations policymakers implementation donate grantees
      long-term social responsibility. Donation enabler, fluctuation
      livelihoods disrupt activist worldwide.</span></h4>
    </li>
    <li class="about-text">
      <h4>Effectiveness climate change fairness non-partisan free-speech policy
      social challenges Nelson Mandela change-makers global citizens Aga Khan.
      Fight against malnutrition women's rights, citizenry; change working
      families social movement John Lennon. Future recognize potential;
      meaningful, indicator human-centered design youth economic independence
      reduce carbon emissions.<br /><span class="read-more-content">Pursue these
      aspirations policymakers implementation donate grantees
      long-term social responsibility. Donation enabler, fluctuation
      livelihoods disrupt activist worldwide.</span></h4>
    </li>
    <li class="about-image" id="soma"></li>
  <!-- </div> -->
</div>
