<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <!-- <h1>API PLAYGROUND</h1> -->
  </div>
  <div class="city-search well">
    <form class="form-inline city-form">
      <h2>City Search</h2>
      <hr>
      <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
      </div>
      <button type="submit" class="btn btn-outlined btn-theme playground-search-btn">Search</button>
      <button type="submit" class="btn btn-outlined btn-theme playground-reset-btn">Reset</button>
    </form>
    <div class="hide">
      <p>Request:</p>
    </div>
    <div class="hide">
      <p>Response:</p>
      <pre class="alert alert-success"></pre>
    </div>
  </div>

  <div class="artist-search well">
    <form class="form-inline artist-form">
      <h2>Artist Search</h2>
      <hr>
      <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
      </div>
      <button type="submit" class="btn btn-outlined btn-theme playground-search-btn">Search</button>
      <button type="submit" class="btn btn-outlined btn-theme playground-reset-btn">Reset</button>
    </form>
    <div class="hide">
      <p>Request:</p>
    </div>
    <div class="hide">
      <p>Response:</p>
      <pre class="alert alert-success"></pre>
    </div>
  </div>
</div>
