<div id="mainwrap">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="panel panel-default module">
        <div class="mission">
          <h3>The <strong>ArtMapr API</strong> provides access to public and institutional artworks as well as related information
              on <%= link_to "artmapr.me", "http://www.artmapr.me", method: :post %>. It's currently available for playing,
              testing, and learning only, and not for production. Please <%= mail_to 'hello@artmapr.me' do %>contact us<% end %> for more information.
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="caption-module art-caption">
        <p>Massimo Vitali<br />
            Scala dei Turchi(#3850), 2009<br />
            72 x 86 inches</p>
      </div>
    </div>
  </div>
</div>
