<%= simple_form_for (@user), url: '/login', method: 'post' do |f| %>

  <div class="field">
    <%= f.input :email, label: 'Email Address', placeholder: 'user@domain.com' %>
  </div>
  <div class="field">
    <%= f.input :password, label: 'Password', hint: 'No special characters.' %>
  </div>

  <div class="login-page-button actions">
    <%= f.button :submit, "Log In", class: "btn signup-login-button btn-outlined btn-theme" %>
  </div>

<% end %>
