<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default" id="login-panel">

    <div class="panel-heading">
      <h2 class="panel-title">Log In to ArtMapr API</h2>
    </div>

    <div class="panel-body">
        <%= render 'form' %>
    </div>

    <div class="panel-footer">
      <p>New user? <%= link_to "Sign up now", signup_path %></p>
    </div>
  </div>
</div>
