<%= simple_form_for @user do |f| %>

  <div class="field">
    <%= f.input :email, label: 'Email Address', placeholder: 'user@domain.com' %>
  </div>
  <div class="field">
    <%= f.input :password, label: 'Password', hint: 'No special characters.' %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Log In", class: "button" %>
  </div>

<% end %>
