/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);

@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


  /*--------------------
  [Table of Contents]

    1.	Body
  	2.	Header | #header
  	3.	Content | #content
  	2.	Footer | #footer

  --------------------*/

  $bodyFont: 'Source Sans Pro', sans-serif;
  $serifFont: 'Libre Baskerville', serif;
  $bodyColor: #525252;
  $navColor: #F2F2F2;
  $artmaprColor: #5B3586;

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: $bodyFont;
    font-size: 62.5%;
    color: $bodyColor;
    line-height: 1.5;
  }

  p {
    font-size: 2em;
    line-height: 1.5em;
  }

  h1, h2, h3, h4 {
    color: $artmaprColor;
  }

  #artmapr-main {
    padding-left: 0;
    padding-right: 0;
  }

  #artmapr-nav {
    background-color: $artmaprColor;
    margin-bottom: 0;
    // letter-spacing: .5em;
  }

  .navbar-default .navbar-nav > li > a {
    color: $navColor;
  }

  .navbar-default .navbar-nav > li > a:hover {
    color: $navColor;
  }

  .menu-items {
    list-style-type: none;
    width: 50%;
    display: inline-block;
  }

  .nav-item {
    color: $navColor;
    font-size: 1.8em;
    text-transform: uppercase;
  }

  .navbar-right {
    text-align: center;
    line-height: 55px;
  }

  #login-button  {
    display: inline;
    vertical-align: middle;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150%;
    border: 2px solid $navColor;
    border-radius: 0;
    background-color: transparent;
    color: $navColor;
    font-size: 1.8em;
    text-transform: uppercase;
    z-index: 5;
  }

  #signup-button  {
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid $navColor;
    border-radius: 0;
    background-color: transparent;
    color: $navColor;
    font-size: 1.8em;
    text-transform: uppercase;
    z-index: 5;
  }

  #login-button:hover,
  #login-button:active {
    color: $bodyColor;
    background: $navColor;
    border-color: $navColor;
  }

  #signup-button:hover,
  #signup-button:active {
    color: $bodyColor;
    background: $navColor;
    border-color: $navColor;
  }

  .dropdown-menu {
    padding: 20px;

    a {
      color: $bodyColor;
      text-decoration: none;
    }

  }

  .fa-navbar {
    color:$bodyColor;
  }

  /*  LANDING PAGE  */

  #mainwrap {
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url("M_Vitali_25.jpg");
    position: relative;
    // width: 100%;
    margin: 0;
    background-position: center center;
    min-height: 700px;
    background-size: cover;
  }

  .module {
    font-family: $bodyFont;
    letter-spacing: .1em;
    position: relative;
    box-shadow: none;
    float: left;
    bottom: -200px;
    left: 20%;
    padding: 15px;
    background: $bodyColor;
    border-radius: 0;
    opacity: .7;
    border: none;

    .header {
      background: none;
      border: none;
    }

    .panel-title {
      color: $navColor;
      font-size: 40px;
      font-weight: 700;
    }

    h3 {
      line-height: 1.25;
      color: $navColor;
      margin-top: 0;
      margin-bottom: 0;

      a {
        color: $navColor;
        text-decoration: none;
      }
      a:hover {
        color: $artmaprColor;
      }
    }
  }

  .caption-module {
      position: relative;
      float: right;
      right: 10%;
      bottom: -395px;
      width: 25%;
      background: $bodyColor;
      opacity: 0.7;
      padding: 10px;

    p {
      margin-bottom: 0;
    }
  }

  .module-link {
    color: $navColor;
    text-decoration: none;

    a {
      color: $navColor;
    }

    a:hover {
      text-decoration: none;
      color: $artmaprColor;
    }
  }

  .module-link::hover {
    color: $navColor;
  }

  #mainwrap p {
    color: $navColor;
    font-size: small;
  }

  /*  LOGIN & SIGNUP PAGE */

  input.form-control {
    border-radius: 0;
  }

  .form-control:focus {
    border: 2px solid;
    border-color: $artmaprColor;
    outline: 0;
    box-shadow: none;
  }

  .signup-login-button {
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    padding:8px 20px;
    width: 25%;
    background: none;
      -moz-user-select: none;
      background-image: none;
      border: 3px solid;
      border-radius: 0;
      cursor: pointer;
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      white-space: nowrap;
  }

  .btn-outlined {
      border-radius: 0;
      -webkit-transition: all 0.3s;
         -moz-transition: all 0.3s;
              transition: all 0.3s;
  }

  .btn-outlined.btn-theme {
      background: none;
      color: $artmaprColor;
      border-color: $artmaprColor;
  }

  .btn-outlined.btn-theme:hover,
  .btn-outlined.btn-theme:active {
      color: $navColor;
      background: $artmaprColor;
      border-color: $artmaprColor;
  }

  /*  ABOUT PAGE  */

  .about-image {
    width: 33.33%;
    height: 350px;
    border: 1px solid $navColor;
    position: relative;
    display: inline-block;
    float:left;
    list-style: none;
  }

  .about-text {
    width: 66.66%;
    height: 350px;
    background-color: $artmaprColor;
    position: relative;
    display: inline-block;
    float:left;
    list-style: none;
    border: 1px solid $navColor;
    padding: 20px;

    h4 {
      color: $navColor;
      line-height: 1.5;
      letter-spacing: .05em;
    }

    a {
      color: $navColor;
      text-transform: uppercase;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .hide {
    display: none;
  }

  #soma {
    background-image: url("Mailchimp-Image-01.png");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    color: #DDFFD9;
  }

  /*  API PLAYGROUND  */

  .playground-search-btn {
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    padding:8px 20px;
    width: 15%;
    background: none;
      -moz-user-select: none;
      background-image: none;
      border: 3px solid;
      border-radius: 0;
      cursor: pointer;
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      white-space: nowrap;
  }

  .playground-reset-btn {
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    padding:8px 20px;
    width: 15%;
    background: none;
      -moz-user-select: none;
      background-image: none;
      border: 3px solid;
      border-radius: 0;
      cursor: pointer;
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      white-space: nowrap;
  }

    /*  PROFILE PAGE  */

  #profile-panel {
    text-align: center;
  }

  img.gravatar {
    border-radius: 50%;
  }

  .btn-edit-profile {

  }

  /*  FOOTER  */

  footer {
    background-color: $artmaprColor;
    color: $navColor;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    p {
      font-size: initial;
      letter-spacing: .05em;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    a {
      color: $navColor;
    }

    a:hover {
      color: $navColor;
      text-decoration: none;
    }
  }
