<nav class="navbar navbar-default navbar-fixed-top">
  <div class="col-md-8">
    <a class="navbar-brand" href="/">
      <img src="images/ArtMapr-Logo-05.png" width="80px" alt="ArtMapr Brand Logo" />
    </a>
  </div>
  <div class="col-md-4 navbar-right">
    <a href="/login" id="login-button" class="btn btn-outlined">Log In</a>
    <a href="/signup" id="signup-button" class="btn btn-outlined">Sign Up</a>
  </div>
</nav>
